@media (min-width: 500px) {
  * {
    --main-screen-padding-inline: 2rem;
    --main-screen-padding-top: var(--heigth-header);

  }
}

@media (min-width: 700px) {
  * {
    --main-screen-padding-inline: 8rem;

  }
}

@media (min-width: 900px) {
  * {
    --main-screen-padding-inline: 8rem;

  }
}

@media (min-width: 1100px) {
  * {
    --main-screen-padding-inline: 14rem;

  }
}